<div class="movies wrapper">
  <h1 class="category-type">Ação</h1>
  <div class="cards">
    <div class="item" *ngFor="let movie of Movies">
      <div class="">
        <img class="card-Items" mat-card-image [src]="movie.Poster" alt="opa" />
      </div>
    </div>
  </div>

  <h1 class="category-type">Amor</h1>
  <div class="cards">
    <div class="item" *ngFor="let movie of MoviesLoves">
      <div class="">
        <img class="card-Items" mat-card-image [src]="movie.Poster" alt="opa" />
      </div>
    </div>
  </div>

  <h1 class="category-type">Terror</h1>
  <div class="cards">
    <div class="item" *ngFor="let movie of Movies">
      <div class="">
        <img class="card-Items" mat-card-image [src]="movie.Poster" alt="opa" />
      </div>
    </div>
  </div>
</div>
